@blue: #404084;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @blue;
    color: white; }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @blue;
   .margenes(50px, 0px)
}
  
  footer a, footer address {
    color: white; }
  
  .card-section {
    flex: 1 200px; }
  
  .card-section .btn {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    margin-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  