.jumbotron {
  background-color: #404084;
  color: white;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #404084;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer a,
footer address {
  color: white;
}
.card-section {
  flex: 1 200px;
}
.card-section .btn {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  margin-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
